<h2>What is this?</h2>
<p>
  <b>ngx-documentary</b> Is a package that allows you do quickly create a Demo/Documentation page for an Angular package, without having to worry
  about layout, routing etc.
</p>

<p>
  The module contains a single component that you have to ann in the Angular bootstrap component. You only have to create view components that will
  be loaded using the <b>DocumentaryConfig</b>.
</p>

<h4>Dependencies</h4>

<table class="table table-bordered table-striped" style="width: auto">
  <thead>
  <tr>
    <th scope="col">Library</th>
    <th scope="col"><a href="https://angular.io/" target="_blank">Angular</a></th>
    <th scope="col"><a href="https://getbootstrap.com/" target="_blank">Bootsrap</a></th>
    <th scope="col"><a href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a></th>
    <th scope="col"><a href="https://github.com/nicky-lenaers/ngx-scroll-to" target="_blank">ngx-scroll-to</a></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">0.1.x</th>
    <td>7.x</td>
    <td>4.x"</td>
    <td>4.x"</td>
    <td>2.x"</td>
  </tr>
  <tr>
    <th scope="row">0.2.x</th>
    <td>8.x</td>
    <td>4.x"</td>
    <td>5.x"</td>
    <td>3.x"</td>
  </tr>
  <tr>
    <th scope="row">0.3.x</th>
    <td>9.x</td>
    <td>4.x"</td>
    <td>5.x"</td>
    <td>3.x"</td>
  </tr>
  </tbody>
</table>
