<h2>Components</h2>

<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
  et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
  ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
  nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
  takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur 
  sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<h3 id="component1">Component 1</h3>

<p>
  Sample usage of your component:
</p>

<ngb-tabset>
  <ngb-tab title="component.component.ts">
    <ng-template ngbTabContent>
      <ngx-prism [language]="'typescript'" [code]='code.ts'>
      </ngx-prism>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="component.component.html">
      <ng-template ngbTabContent>
          <ngx-prism [language]="'html'" [code]='code.html'></ngx-prism>
      </ng-template>
    </ngb-tab>
</ngb-tabset>

<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
  et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
  ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
  nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
  takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur 
  sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
  et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
  ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
  nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
  takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur 
  sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<h3 id="component2">Component 2</h3>

<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
  et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
  ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
  nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
  takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur 
  sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<h3 id="component3">Component 3</h3>

<p>
  Sample usage of your component:
</p>

<ngb-tabset>
  <ngb-tab title="component.component.ts">
    <ng-template ngbTabContent>
      <ngx-prism [language]="'typescript'" [code]='code.ts'>
      </ngx-prism>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="component.component.html">
      <ng-template ngbTabContent>
          <ngx-prism [language]="'html'" [code]='code.html'></ngx-prism>
      </ng-template>
    </ngb-tab>
</ngb-tabset>