<h2>What is this?</h2>
<p>
  <b>ngx-documentary</b> Is a package that allows you do quickly create a Demo/Documentation page for an Angular package, without having to worry
  about layout, routing etc.
</p>

<p>
  The module contains a single component that you have to ann in the Angular bootstrap component. You only have to create view components that will
  be loaded using the <b>DocumentaryConfig</b>.
</p>

<h4>Dependencies</h4>

<table class="table table-bordered table-striped" style="width: auto">
  <thead>
  <tr>
    <th scope="col">Library</th>
    <th scope="col">Angular</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1.0.x</th>
    <td>7.0.x</td>
  </tr>
  </tbody>
</table>
