<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <b class="navbar-brand">{{ title }}</b>
  <button class="navbar-toggler hidden-sm-up" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <a *ngIf="gitHubLink" class="nav-link" target="blank" [href]="gitHubLink">Github</a>
      <a *ngIf="npmLink" class="nav-link" target="blank"  [href]="npmLink">NPM</a>
    </ul>
    <span class="navbar-text">
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-primary btn-light" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">v1.0.0</button>
        <div ngbDropdownMenu>
          <button class="dropdown-item">v2.0.0</button>
          <button class="dropdown-item">v1.0.0</button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </span>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 col-xl-2 pt-3 pt-md-4">
      <nav class="d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item nav-pills" *ngFor="let page of pages">
              <a class="nav-link" [routerLink]="page.path" routerLinkActive="active">
                {{ page.data.name }}
              </a>
              {{ router.path }}
              <ul class="nav flex-column" *ngIf="router.url.indexOf(page.path) > -1">
                <li class="nav-item nav-pills" *ngFor="let fragment of page.data.fragments">
                  <a class="nav-link" [routerLink]="page.path" [fragment]="fragment.ref">
                    {{ fragment.name }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col pt-3 pt-md-4">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
